a{
    text-decoration: none;
}
.links{
    /* position:relative; */
    text-align: end;
            
} 
        
.main{
    /* border:1px solid black; */
    margin:auto;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 50px;
        
}
.image{
            
    position: relative;
    padding:10px;
    left:280px;
}
.search{
    padding:20px;
    width:700px;
}

.text-input{
    position:relative;
    left:50px;
    width:650px;
    border: 1px solid black;
    height:30px;
    border-radius: 20px;
}
        
.lucky-button, .search-button{
    border:none;
    position:relative;
    left: 280px;
    margin-top:10px;
    padding:10px;
}
.search-button{
    left: 270px;
}